# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directory
dist/
build/

# OS and Editor specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Dependencies and cache
package-lock.json
yarn.lock

# Docker and container files
docker-compose.override.yml
